.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    height: 400px;
    background-image: url('./Headerimages/bg1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    position: relative;
}

.hero-content {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 40px;
    border-radius: 10px;
    transform: translateX(-350px);
}

.hero-content h1 {
    font-size: 48px;
    margin: 10px 0;
}

.hero-content h2,
.hero-content p {
    margin: 10px 0;
}

.learn-more {
    background-color: #d52b1e;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

.learn-more:hover {
    background-color: #a81f16;
}
